name: Release

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build-amd64:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build docker image for amd64
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: false

  build-arm64:
    runs-on: [self-hosted, macOS, ARM64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build docker image for arm64
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/arm64
          push: false

  release:
    needs: [build-amd64, build-arm64]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Get package version
        id: get_version
        run: echo "version=$(grep -oP 'Version: \K.*' DESCRIPTION)" >> $GITHUB_OUTPUT
      - name: Create tar.gz archive
        run: tar -czvf Rsafd_${{ steps.get_version.outputs.version }}.tar.gz --exclude='.github' --exclude='Dockerfile' .
      - name: Create zip archive
        run: zip -r Rsafd_${{ steps.get_version.outputs.version }}.zip . -x ".github/*" "Dockerfile"
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.get_version.outputs.version }}
          release_name: Release ${{ steps.get_version.outputs.version }}
          draft: false
          prerelease: false
      - name: Upload .tar.gz to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Rsafd_${{ steps.get_version.outputs.version }}.tar.gz
          asset_name: Rsafd_${{ steps.get_version.outputs.version }}.tar.gz
          asset_content_type: application/gzip
      - name: Upload .zip to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: Rsafd_${{ steps.get_version.outputs.version }}.zip
          asset_name: Rsafd_${{ steps.get_version.outputs.version }}.zip
          asset_content_type: application/zip
